<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% load static %}
    <head>
        {% block meta %}
        <title>Donations</title>
        <link rel="stylesheet" href="{% static 'daftarDonasi/style.css' %}">
        {% endblock meta %}
    </head>

    <body>
        {% block content %}
        <div class="input-group col-md-3 search">
            <form action="" method="get">
                <span class="input-group-append">
                    <input class="form-control py-2" type="search" placeholder="Search..." id="example-search-input" name="search">
                    <input class="button" type="image" src="{% static 'daftarDonasi/img/search_logo.png' %}" alt="Submit" width="35" height="35">
                </span>

            </form>
        </div>
        <table class="table table-bordered tablelist" style="width: 95%; background-color: #FFFFFF;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Donation</th>
                    <th>Messages</th>
                </tr>
            </thead>

            <tbody>
                {% for donasi in donatur %}
                <tr>
                    <td>{{ donasi.name }}</td>
                    <td>{{ donasi.phone_number }}</td>
                    <td>Rp.{{ donasi.amount }},-</td>
                    <td>{{ donasi.messages }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="page">
            {% if donatur.has_other_pages %}
            <ul class="pagination">
                <div class="prev">
                    {% if donatur.has_previous %}
                        <li><a class="btn btn-light" href="?page={{ donatur.previous_page_number }}">Previous</a></li>
                    {% else %}
                        <li class="btn btn-light disabled"><span>Previous</span></li>
                    {% endif %}
                </div>
                <div class="num">
                    {% for i in donatur.paginator.page_range %}
                    {% if donatur.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="next">
                    {% if donatur.has_next %}
                        <li><a class="btn btn-light" href="?page={{ donatur.next_page_number }}">Next</a></li>
                    {% else %}
                        <li class="btn btn-light disabled"><span>Next</span></li>
                    {% endif %}
                </div>
            </ul>
            {% endif %}
        </div>
        {% endblock %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>