<!DOCTYPE html>
<html>
    <head>
        <title>Daftar Donasi</title>
    </head>

    <body>
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <form method="get">
                        {{ myFilter.form }}
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Donation</th>
                    <th>Messages</th>
                </tr>
            </thead>

            <tbody>
                {% for donasi in donatur %}
                <tr>
                    <td>{{ donasi.name }}</td>
                    <td>{{ donasi.phone_number }}</td>
                    <td>{{ donasi.amount }}</td>
                    <td>{{ donasi.messages }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if donatur.has_other_pages %}
        <ul class="pagination">
            {% if donatur.has_previous %}
                <li><a href="?page={{ donatur.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in donatur.paginator.page_range %}
            {% if donatur.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if donatur.has_next %}
                <li><a href="?page={{ donatur.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </body>
</html>