{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'daftarDonasi/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'testi/style.css' %}"> {% block meta %} {% endblock meta %}
</head>

<body>
    <div class="navbar navbar-expand-lg navbar-light nav">
        <a class="navbar-brand" href="{% url 'main:home'%}">
            <img src="/static/img/logo.png" width="40" height="40" alt="">
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navv">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse nav" id="navv">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a href="{% url 'main:home'%}">Home</a>
                </li>
                <li>
                    <a href="{% url 'main:donate'%}">Donate</a>
                </li>
                <li>
                    <a href="{% url 'daftarDonasi:daftarDonasi'%}">Donations</a>
                </li>
                <li>
                    <a href="{% url 'testi:tampilan' %}">Testimonies</a>
                </li>
                <li>
                    <a href="{% url 'pertanyaan:pertanyaan'%}">Questions</a>
                </li>
                <li>
                  <a href="{% url 'donasi:institution'%}">Institution</a>
                </li>
                <li>
                    <a href="{% url 'report:report'%}">Reports</a>
                </li>
            </ul>
        </div>
    </div>
    {% block content %} {% endblock content %}
    <footer></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>